body {
    background: white;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

#submit {
    background-color: lightgrey;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#submit:hover {
    background-color: darkgrey;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(0px, -2px);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#submit:active {
    background-color: darkgrey;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(0px, 2px);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#search:focus {
    border-color: black;
    box-shadow: 0 0 10px black;
    outline: none;
}